@media(max-width:426px){
    .container{
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        border: saddlebrown 2px solid;
    }
    .bgdecor{
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
    }
    .head .topnav{
        position: relative;
        flex-direction: column;
    }
    .head ul{
        position: relative;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 3%
    }
    /* hero */
    .hero .row{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero .row .column.desc{
        margin-top: 50%;
        justify-content: center;
    }
    .hero .row .column.img img{
        display: block;
        width: 40%;
        height: 60%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero .row .column.desc h2{
        font-size: 50px;
    }
    .hero .row .redline{
        display: none;
    }
    .hero .row .column.desc .buttons{
        flex-direction: column;
        gap: 20px;
    }
    /* services */
    .services{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .services .category{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .services .bg-decor{
        display: none;
    }
    /* destination */
    .destination{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .destination .bg-decor{
        display: none;
    }
    .destination .desti{
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .destination .desti .opt{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .destination .desti .col{
        position: relative;
        height: 1%;
        width: 25%;
        margin-left: 0%;
        align-items:end;
    }
    .destination .desti .col p{
        font-size: 80%;
        padding: 0 auto;
        margin: 0 0;
        margin-top: 15px;
    }
    .destination .desti .opt img{
        width: 150%;
        height: 100%;
    }
    .destination .desti .opt .col{
        height: 100%;
        width: 100%;
    }

    /* book a trip */
    .bookatrip{
        margin-top: 10%;
    }
    .bookatrip .values .value{
        position: relative;
        flex-direction: column;
    }
    .bookatrip .values .value .side-section{
        position: relative;
        flex-direction: column;
        margin-top: 120%;
        margin-left: auto;
        margin-right: auto;
    }
    .bookatrip .values .value .side-side{
        position: relative;
        margin-left: 60%;
        margin-top: -70%;
    }

    /* testimonials */
    .testimonials{
        flex-direction: column;
        position: relative;
        display: flex;
        gap: 50px;
        width: 80%;
        height: 100%;
    }
    .testimonials .arrows{
        display: none;
    }

    /* logos */
    .logos{
        /* flex-direction: column; */
        position: relative;
        margin-top: 20%;
        width: 100%;
        height: 80%;
        align-items: center;
        justify-content: center;
    }
}