
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: auto;
}
body{
    position: relative;
    max-width: 1440px;
    margin: auto;
}
:root{
    --red: #DF6951;
    --darkblue: #181E4B;
    --white: #fff;
    --btn: #e0992d;
    --black: #212832;
    --lightgrey: #5E6282;
    --skin: #FFF1DA;
    --blue: #3745ab;
    --lightblue: #86cff9;
    --lightcolor: #DFD7F9;
    --line1: #747DEF;
    --line2: #5E3BE1;
}
body .bgdecor{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}
/* header */
.head .topnav{
    display: flex;
    padding: 20px 60px;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.head img{
    height: 40px;
}
.head ul{
    display: flex;
    list-style: none;
    height: 20px;
    
}
.head ul li{
    padding: 0 40px;
    font-size: 17px;
    padding-left: 40px;
}
.head ul li .btn-signup{
    background: transparent;
    border: 1px solid var(--black);
    border-radius: 2px;
    height: 40px;
    width: 102px;
    font-size: 17px;
    margin-top: -20px;
}
.head ul li .btn-signup:hover{
    color: var(--red);
}
.head ul li #languages{
    background: transparent;
    border: none;
    font-size: 17px;
}
select option{
    /* background: transparent; */
    /* color: var(--white); */
}


/* hero */
.hero .row{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    align-items: center;
}
.hero .row .column.desc .p1{
    width: 545px;
    height: 30px;
    color: var(--red);
}
.hero .row .column.desc h2{
    font-size: 84px;
    color: var(--darkblue);
}
.hero .row .column.desc img{
    position: absolute;
    top: 336px;
    margin-left: 240px;
    z-index: -1;
}
.hero .row .column.desc .p2{
    line-height: 1.6rem;
}
.hero .row .column.desc .buttons{
    display: flex;
    align-items: center;
    justify-content: left;
}
.hero .row .column.desc .buttons .btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background: var(--btn);
    color: var(--white);
    font-size: 15px;
    box-shadow: 0 10px 20px var(--btn);
}
.hero .row .column.desc .buttons .playbtn{
    background: var(--red);
    box-shadow: 0px 10px 20px var(--red);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-left: 50px;
    
}
.hero .row .column.desc .buttons .playbtn .playicon{
    color: var(--white);
    width: 15px;
    height: 15px;
}
.hero .row .column.desc .buttons p{
    color: var(--lightgrey);
    padding: 0 20px;
}

.hero .row .column.img img{
    width: 783px;
    height: 764px;
}

/* services */
.services{
    position: relative;
}
.services .cat-head{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0;
}
.services .cat-head p{
    font-family:poppins;
    color: var(--lightgrey);
    font-size: 18px;
}
.services .cat-head h2{
    font-family: volkhov;
    font-size: 50px;
}
.services .category{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    /* background-color: var(--white); */
}
.services .bg-decor{
    position: absolute;
    top: 80px;
    right: 0;
}
.services .category .column{
    padding: 0 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
}
.services .category .column{
    position: relative;
}
.services .category .column.cat-2 .bg-plain{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 10px;
    z-index: -1;
    background-color: var(--red);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
}
.category.row .column h4{
    font-family: Open Sans;
    padding: 30px;
    color: var(--darkblue);
    font-size: 20px;
}
.category.row .column p{
    font-family: poppins;
    font-size: 16px;
    color: var(--lightgrey);
    width: 200px;
    border-radius: 10px;
    background-color: var(--white);
}
.category .column img{
    width: 80px;
    height: 80px;
}
.category .column.cat-2 .img-layout img{
    width: 150px;
    height: 130px;
    margin-bottom: -30px;
    margin-top: -20px;
}
.category.row .column .bg-box{
    position: absolute;
    width: 50px;
    height: 49px;
    background: var(--skin);
    border-top-left-radius: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    margin-left: 105px;
    margin-top: 30px;
    z-index: -1;
}
.category.row .column .c2 .bg-box,
.category.row .column .c3 .bg-box{
    margin-left: 50px;
    margin-top: 10px;
}
.services .category .column .img-layout img{
    z-index: 10;
}

/* destination */
.destination{
    position: relative;
}
.destination .bg-decor{
    position: absolute;
    right: 40px;
    top: 400px;
    z-index: -1;
}
.destination .head{
    text-align: center;
}
.destination .head p{
    font-size: 18px;
    color: var(--lightgrey);
    font-family: poppins;
    padding: 30px 0px;
    margin-top: 80px;
}
.destination .head h2{
    font-family: volkhov;
    font-size: 50px;
    color: var(--darkblue);
}
.destination .desti{
    display: flex;
    align-items: center;
    width: 315px;
    height: 475px;
    text-align: center;
    margin-top: 80px;
}
.destination .desti img{
    position: relative;
    z-index: -1;
}

.destination .desti .col{
    margin-top: -300px;
    background: var(--white);
    width: 315px;
    height: 120px;
    box-shadow: 0 5px 30px -20px var(--black);
    margin-left: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}   
.destination .desti .opt .col .row{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    font-family: 'Poppins';
    color: var(--lightgrey);
}

/* book a trip */
.bookatrip{
    margin-top: 120px;
    margin-left: 90px;
    padding: 20px 0;
}
.bookatrip .head p{
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--lightgrey);
}
.bookatrip .head h2{
    font-family: 'Volkhov';
    font-size: 50px;
    color: var(--darkblue);
}
.bookatrip .values .value{
    display: flex;
}
.bookatrip .values .steps{
    display: flex;
    flex-direction: column;
    width: 395px;
    height: 64px;
}
.bookatrip .values .steps .ss{
    display: flex;
    padding: 20px 0;
    font-family: 'Poppins';
    color: var(--lightgrey);
}
.bookatrip .values .steps .ss .col-2{
    padding: 0 20px;
}
.bookatrip .values .side-section{
    width: 370px;
    height: 400px;
    margin-left: 300px;
    background-color: var(--white);
    box-shadow: 20px -20px 80px -10px var(--lightblue);
}
.bookatrip .values .side-section .img-section{
    text-align: center;
    margin-top: 20px;
}
.bookatrip .values .side-section .info{
    padding: 20px 25px;
}
.bookatrip .values .side-section .info h4{
    font-family: 'Poppins';
    font-size: 18px;
}
.bookatrip .values .side-section .info p{
    font-family: 'Poppins';
    font-size: 16px;
    padding: 10px 0;
    color: var(--lightgrey);
}
.bookatrip .values .side-section .info .icons{
    display: flex;
    gap: 30px;
    margin: 10px 20px;
    padding-top: 20px;
    color: var(--lightgrey);
}
.bookatrip .values .side-section .info .people{
    display: flex;
    gap: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    padding: 20px 0;
    color: var(--lightgrey);
}
.bookatrip .values .side-section .info .people .heart{
    color: var(--blue);
    margin-left: 100px;
}
.bookatrip .values .side-side{
    display: flex;
    gap: 20px;
    width: 263px;
    height: 129px;
    margin-top: 230px;
    margin-left: -155px;
    background-color: var(--white);
    justify-content: center;
    border-radius: 10px;
    box-shadow: -10px 20px 20px -20px var(--black);
}
.bookatrip .value .side-side img{
    border-radius: 50px;
}
.bookatrip .value .side-side .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bookatrip .value .side-side .info .ongo{
    font-family: 'Poppins';
    font-size: 14px;
    color: var(--lightgrey);
}
.bookatrip .value .side-side .info .head{
    font-family: 'Poppins';
    font-size: 18px;
}
.bookatrip .value .side-side .info .pro .per-40{
    color: var(--blue);
}
.bookatrip .value .side-side .info .pro{
    font-family: 'Poppins';
    font-size: 14px;
}

/* testimonials */
.testimonials{
    margin: 100px 100px;
    margin-top: 150px;
    width: 1165px;
    height: 356px;
    display: flex;
    justify-content: space-between;
    gap: 180px;
}
.testimonials .left .dots{
    margin-top: 80px;
}
.testimonials .left .dots .d2{
    opacity: 0.2;
}
.testimonials .left p{
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--lightgrey);
}
.testimonials .left h2{
    font-family: 'Volkhov';
    font-size: 50px;
    width: 409px;
    height: 130px;
}
.testimonials .right{
    width: 541px;
    height: 279px;
    box-shadow: 1px 1px 5px -2px var(--black);
    background-color: var(--white);
    border-radius: 20px;
}
.testimonials .right .para{
    width: 402px;
    height: 96px;
}
.testimonials .right .info{
    padding: 5px 50px;
    color: var(--lightgrey);
    font-family: 'Poppins';
}
.testimonials .right .info2{
    position: relative;
    width: 541px;
    height: 279px;
    padding: 80px 70px;
    top: -100px;
    left: 40px;
    color: var(--lightgrey);
    font-family: 'Poppins';
    z-index: -1;
    box-shadow: 1px 1px 5px -2px var(--black);
    border-radius: 20px;
}
.testimonials .arrows{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}

/* logos */
.logos{
    width: 1200px;
    height: 180px;
    margin: 20px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos .img1{
    width: 130px;
    height: 130px;
}
.logos .img2{
    width: 173px;
    height: 110px;
}
.logos .img3{
    width: 241px;
    height: 162px;
    margin-top: 70px;
}
.logos .img4{
    width: 162px;
    height: 32px;
}
.logos .img5{
    width: 94px;
    height: 21px;
}

/* subscription */
.subscription{
    position: relative;
}
.subscription .background{
    position: relative;
    margin: 100px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1250px;
    height: 430px;
    background-color: var(--lightcolor);
    border-top-left-radius: 129px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.subscription .bg-decor{
    position: absolute;
    right: 0%;
    bottom: -20%;
    z-index: -1;
}
.subscription .bg-decor img{
    transform: rotate(90deg);
} 
.subscription .background .r1{
    position: relative;
    left: -230px;
    bottom: -155px;
    opacity: 0.3;
    z-index: 0;
}
.subscription .background .r2{
    transform: rotate(270deg);
    position: relative;
    right: -300px;
    opacity: 0.3;
    
}
.subscription .arrow-back{
    position: absolute;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    top: -5%;
    right: 4%;
}
.subscription .arrow-back .fa-solid{
    position: relative;
    font-size: 40px;
    top: 25%;
    left: 12%;
    color: var(--white);
}
.subscription .background .details{
    position: relative;
    text-align: center;
    top: -45%;
}
.subscription .details p{
    position: relative;
    font-family: 'Poppins';
    font-size: 33px;
    width: 880px;
    height: 108px;
    color: var(--lightgrey);
    left: 15%;
    margin-bottom: 40px;
}
.subscription .details input{
    width: 421px;
    height: 68px;
    border: none;
    margin: 40px 0;
    font-family: 'Montserrat';
    font-size: 14px;
}
.subscription .details button{
    width: 180px;
    height: 68px;
    color: var(--white);
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
}

/* footer */
footer .above{
    display: flex;
    justify-content: space-evenly;
    margin: 150px 10px;
}
footer .companydesc{
    width: 207px;
    height: 133px;
    font-family: 'Poppins';
}
footer .companydesc h2{
    font-size: 44px;
    color: var(--darkblue);
}
footer .companydesc p{
    font-size: 13px;
}
footer .navbar{
    display: flex;
}
footer .navbar .col{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
footer .navbar .col .fch{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .navbar .col .fci{
    font-size: 18px;
    margin: 10px 0;
}
footer .outbound{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .discover h4{
    font-family: 'Poppins';
    color: var(--lightgrey);
    margin: 20px 0;
    font-size: 20px;
}
footer .outbound .social{
    display: flex;
    justify-content: space-around;
    
}
footer .outbound .social .fa-brands.fa-facebook-f,
footer .outbound .social .fa-brands.fa-instagram,
footer .outbound .social .fa-brands.fa-twitter{
    display: flex;
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px -2px var(--black);
}
footer .outbound .social .fa-brands.fa-instagram{
    color: var(--white);
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}
footer .outbound .discover .downplace{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
footer .outbound .discover .downplace .info{
    font-family: 'Poppins';
    font-size: 10px;
}
footer .outbound .discover .downplace .play,
footer .outbound .discover .downplace .apple{
    display: flex;
    width: 107px;
    height: 35px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
footer .outbound .discover .downplace .apple .info .app-2{
    font-size: 8px;
}
footer .outbound .discover .downplace .play .img img,
footer .outbound .discover .downplace .apple .img img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
footer .copyright{
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins';
    color: var(--lightgrey);
}