@media(max-width:767px) and (min-width:320px){
    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    .container {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        border: saddlebrown 2px solid;
    }
    .bgdecor{
        position: flex;
        top: 0%;
        right: 0%;
        width: 100%;
    }
    .head .topnav{
        position: flex;
        /* flex-direction: column; */
    }
    /* hamburger */
    .nav{
        display: none;
    }
    .hamburger{
        display: block;
        position: relative;
        left: 0%;
        height: 100%;
        width: fit-content;
    }
    .mobile-menu.active{
        display: flex;
    }
    .mobile-menu{
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 20px;
        padding: 2% 5%;
        height: fit-content;
        width: 30%;
        right: 0%;
        background-color: white;
        border: 5px solid wheat;
        border-radius: 10%;
        z-index: 2;
    }
    .mobile-menu a{
        border: 2px solid wheat;
        font-family: 'Poppins';
        font-size: 60%;
    }
    .mobile-menu a:hover{
        scale: 1.2;
        border: 2px solid red;
    }
    /* hero */
    .hero .row{
        position: relative;
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10px 10px;
        align-items: center;
    }
    .hero .row .column.desc{
        margin-top: 20%;
        width: 90%;
        height: 80%;
        font-size: 80%;
    }
    .hero .row .column.img img{
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    }
    .hero .row .column.desc p{
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 90%;
    }
    .hero .row .column.desc .p1{
        width: 100%;
        height: 100%;
    }
    .hero .row .column.desc h2{
        font-size: 30px;
    }
    .hero .row .redline{
        display: none;
    }
    
    /* services */
    .services{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .services .category{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .services .bg-decor{
        display: none;
    }
    .services .cat-head h2{
        font-size: 30px;
    }
    /* destination */
    .destination{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .destination .bg-decor{
        display: none;
    }
    .destination .desti{
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .destination .desti .opt{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .destination .desti .col{
        position: relative;
        height: 1%;
        width: 25%;
        margin-left: 0%;
        align-items:end;
    }
    .destination .desti .col p{
        font-size: 80%;
        padding: 0 auto;
        margin: 0 0;
        margin-top: 15px;
    }
    .destination .desti .opt img{
        width: 100%;
        height: 100%;
    }
    .destination .desti .opt .col{
        height: 80%;
        width: 80%;
    }
    .destination .head h2{
        font-size: 30px;
    }

    /* book a trip */
    .bookatrip{
        margin-top: 10%;
        width: 90%;
        height: 80%;
        justify-content: center;
        margin-left: 0;
    }
    .bookatrip .head h2{
        font-size: 30px;
        text-align: center;
    }
    .bookatrip .values .steps{
        width: 90%;
        height: 80%;
    }
    .bookatrip .values .steps .ss{
        font-size: 12px;
    }
    .bookatrip .values .value{
        position: relative;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .bookatrip .values .value .side-section{
        position: relative;
        /* flex-direction: column; */
        margin-top: 80%;
        width: 90%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .bookatrip .values .side-side{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
    .bookatrip .values .side-section .info p{
        font-size: 10px;
    }
    .bookatrip .values .side-section .info .icons{
        font-size: 10px;
    }
    .bookatrip .value .side-section img{
        width: 80%;
        height: 80%;
    }
    .bookatrip .values .side-section .info .people .heart{
        margin-left: 40%;
    }

    /* testimonials */
    .testimonials{
        flex-direction: column;
        position: relative;
        display: flex;
        gap: 50px;
        width: 80%;
        height: 100%;
    }
    .testimonials .left p{
        font-size: 15px;
    }
    .testimonials .left h2{
        font-size: 20px;
        width: 80%;
        height: 80%;
    }
    .testimonials .left .dots{
        margin-top: 10%;
        font-size: 10px;
    }
    .testimonials .right{
        width: 90%;
        height: max-content;
    }
    .testimonials .right .para{
        width: 100%;
        height: 10%;
        font-size: small;
    }
    .testimonials .right img{
        width: 20%;
    }
    .testimonials .right .info{
        padding: 5px 10px;
        font-size: 15px;
    }
    .testimonials .right .info2{
        display: none;
    }
    .testimonials .arrows{
        display: none;
    }

    /* logos */
    .logos{
        flex-direction: column;
        position: relative;
        margin-top: 20%;
        width: 90%;
        height: 80%;
        justify-content: center;
    }

    /* subscribe */
    .subscription{
        width: 100%;
        height: 80%;
    }
    .subscription .bg-decor,
    .subscription .arrow-back{
        display: none;
    }
    .subscription .background{
        position: flex;
        margin: 20% 1%;
        width: 100%;
        height: 100%;
    }
    .subscription .background .details{
        width: fit-content;
        height: fit-content;
    }
    .subscription .details p{
        position: relative;
        font-size: 15px;
        width: 80%;
        height: 100%;
        align-items: center;
        margin-top: 10%;
    }
    .subscription .details input{
        width: 90%;
        height: 100%;
        padding: 10px 0;
        margin: 10px 0;
        font-size: 10px;
    }
    .subscription .details button{
        width: 50%;
        height: 80%;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .subscription .background .r1{
        position: absolute;
        width: 30%;
        height: 80%;
        left: -10%;
        bottom: -15%;
        opacity: 0.3;
        z-index: 0;
    }
    .subscription .background .r2{
        transform: rotate(270deg);
        position: absolute;
        width: 30%;
        height: 80%;
        right: 0%;
        top: -20%;
        opacity: 0.3;
        
    }

    /* footer */
    footer .above{
        position: relative;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10px;
    }
    footer .copyright{
        margin-bottom: 0%;
        justify-content: center;
        text-align: center;
    }
    footer .navbar{
        display: flex;
        flex-direction: column;
    }
    footer .navbar .col{
        margin: 2% 2%;
    }
    footer .navbar .col .fch{
        margin-bottom: 2%;
    }
    footer .outbound .social{
        justify-content: space-evenly;
    }
}

